<div class="container-fluid">
  <div class="col-md-6 wrapper form">
    <h1>Add your word</h1>
    <form #wordForm="ngForm">
      <div class="form-group">
        <label for="eng">Eng</label>
        <input type="text" class="form-control" id="eng" name="eng"
               #eng="ngModel" [(ngModel)]="newWord.eng" required pattern="[a-zA-Z]*" />
      </div>
      <div [hidden]="eng.valid || !newWord.eng" class="alert alert-danger">
        Enter english word
      </div>

      <div class="form-group">
        <label for="ru">Ru</label>
        <input type="text" class="form-control" id="ru" name="ru"
               #ru="ngModel" [(ngModel)]="newWord.ru" required pattern="[а-яА-Я]*" />
      </div>
      <div [hidden]="ru.valid || !newWord.ru" class="alert alert-danger">
        Enter translation
      </div>

      <button type="submit"
              class="btn btn-success"
              [disabled]="!wordForm.form.valid"
              (click)="addWord() ; wordForm.reset()">Add</button>
    </form>
  </div>
</div>
